[tool.poetry]
name = "pydid"
version = "0.4.1"
description = "Python library for validating, constructing, and representing DIDs and DID Documents"
authors = ["Daniel Bluhm <dbluhm@pm.me>"]
license = "Apache 2.0"
readme = "README.md"
homepage = "https://github.com/Indicio-tech/pydid"
repository = "https://github.com/Indicio-tech/pydid"
keywords = [
    "decentralized", "identity", "ssi", "DID", "DID Document"
]

[build-system]
requires = ["setuptools", "poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.dependencies]
python = "^3.8.0"
pydantic = "^1.10.0"
typing-extensions = "^4.5.0"
inflection = "^0.5.1"

[tool.poetry.dev-dependencies]
pytest = "^7.4.0"
black = "^23.7.0"
poetry = "^1.5.0"
pre-commit = "^3.3.0"
ruff = "^0.0.287"
pytest-coverage = "^0.0"
aiohttp = "^3.8.0"
pytest-asyncio = "^0.21.0"
coverage = {extras = ["toml"], version = "^7.2.0"}

[tool.pytest.ini_options]
addopts = "-p no:warnings --cov pydid --doctest-modules"
markers = "int: integration tests"

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "@abstract"
]
precision = 2
show_missing = true

[tool.ruff]
select = ["E", "F", "C", "D"]

ignore = [
    # Google Python Doc Style
    "D203", "D204", "D213", "D215", "D400", "D401", "D404", "D406", "D407",
    "D408", "D409", "D413",
    "D202", # Allow blank line after docstring
    "D104", # Don't require docstring in public package
]

line-length = 90

[tool.ruff.per-file-ignores]
"**/{tests}/*" = ["F841", "D", "E501"]
