[tool.black]

[tool.flake8]
# https://github.com/ambv/black#line-length
max-line-length = 90
exclude = "*/tests/**"
extend_ignore = "D202, W503"
per_file_ignores = "*/__init__.py:D104"

[tool.pytest.ini_options]
addopts = "-p no:warnings -m 'not int' --cov pydid"
markers = "int: integration tests"

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "@abstract"
]
precision = 2
show_missing = true

[tool.poetry]
name = "pydid"
version = "0.1.0.post3"
description = "Python library for validating, constructing, and representing DIDs and DID Documents"
authors = ["Daniel Bluhm <dbluhm@pm.me>"]
license = "Apache 2.0"
readme = "README.md"
homepage = "https://github.com/dbluhm/pydid"
repository = "https://github.com/dbluhm/pydid"
keywords = [
    "decentralized", "identity", "ssi"
]

[tool.poetry.dependencies]
python = "^3.6.9"
voluptuous = "^0.12.1"

[tool.poetry.dev-dependencies]
pytest = "^6.2.2"
black = "^20.8b1"
poetry = "^1.1.5"
pre-commit = "^2.11.1"
flake8 = "^3.9.0"
pytest-coverage = "^0.0"
aiohttp = "^3.7.4"
pytest-asyncio = "^0.14.0"
coverage = {extras = ["toml"], version = "^5.5"}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
