[tool.poetry]
name = "pydid"
version = "0.3.7"
description = "Python library for validating, constructing, and representing DIDs and DID Documents"
authors = ["Daniel Bluhm <dbluhm@pm.me>"]
license = "Apache 2.0"
readme = "README.md"
homepage = "https://github.com/Indicio-tech/pydid"
repository = "https://github.com/Indicio-tech/pydid"
keywords = [
    "decentralized", "identity", "ssi"
]

[build-system]
requires = ["setuptools", "poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.dependencies]
python = "^3.6.9"
pydantic = "^1.8.1"
typing-extensions = ">=4.0.0,<4.1.0"
inflection = "^0.5.1"

[tool.poetry.dev-dependencies]
pytest = "^6.2.2"
black = "^22.3.0"
poetry = "^1.1.5"
pre-commit = "^2.11.1"
flake8 = "^5.0.4"
pytest-coverage = "^0.0"
aiohttp = "^3.7.4"
pytest-asyncio = "^0.14.0"
coverage = {extras = ["toml"], version = "^5.5"}

[tool.pytest.ini_options]
addopts = "-p no:warnings --cov pydid"
markers = "int: integration tests"

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "@abstract"
]
precision = 2
show_missing = true
